!!!
%html
  %head
    %title Kaj Komboizer
    = csrf_meta_tags
    = csp_meta_tag

    %meta{charset: 'utf-8'}

    %meta{name: 'viewport', content: 'initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width'}
    %link{href: "https://fonts.googleapis.com/css2?family=Open+Sans&family=Sigmar+One&display=swap", rel: "stylesheet"}
    %link{rel: "shortcut icon", href: image_path('favicon.ico')}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    - if Rails.env.production?
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170580808-1"></script>
      :javascript
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-170580808-1');

  %body{ data: { controller: controller_path.sub('/', '_'), action: action_name } }
    = render 'shared/top_nav'
    .fixed-width-container.center
      = yield
    = render 'shared/footer'
